name: GitHub Actions Demo

on:
  repository_dispatch:
    inputs:
      message:
        required: false
        default: "from api"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.event.inputs.message }}"